implementation/scripts/*.sh text eol=lf
implementation/scripts/*.slurm text eol=lf
implementation/src/*.cpp text eol=lf
implementation/src/*.hpp text eol=lf
implementation/tools/*.cpp text eol=lf
baseline/**/*.sh text eol=lf
baseline/**/*.slurm text eol=lf
baseline/**/*.cpp text eol=lf
baseline/**/*.hpp text eol=lf
